:root {
  --primary-color: #E8E8E8;
  --background-color-: #224864;
  --border-width-buttons: 0.2rem;
  --font-size-buttons: 3vh;
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: #ffffff;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box !important;
  width: 100vw;
}

main {
  width: 75vw;
  display: flex;
  justify-content: end;
}

.content-header {
  display: flex;
  justify-content: space-between;
}

.status {
  display: flex;
  justify-content: start;
}

.ativo {
  color: green;
  padding-right: 10px;
}

.desativado {
  color: red;
  padding-right: 10px;
}

.botao-editar {
  color: blue;
}

.content-table {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

table {
  width: 50vw;
  box-shadow: 4px 4px 50px 0px #00000026;
  border-collapse: collapse;
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #7A7786;
}

table th {
  background-color: #F9F9F9;
}

.linha-par {
  background-color: #F0F9FF;
}

.linha-impar {
  background-color: #FFFFFF;
}