CODIGO CSS CADASTRAR PRODUTO
:root{
    --primary-color: #E8E8E8;
    --background-color-: #224864;
    --border-width-buttons: 0.2rem;
    --font-size-buttons: 3vh;
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    font-family: var(--font-family);
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box !important;
    width: 100vw;
}


.section-all{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100vh;
    grid-template-areas: 
    "nav" "section";
}

.section-all header:nth-child(1){
    background-color: var(--background-color-);
    box-shadow: 3px 3px 6px 6px rgba(1, 1, 1, 0.1); 
}

.section-all section:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-one .section-main{
    width:  150vh;
    height: 95vh;
}

.form{
    width: 70vh;
    height: 55vh;
    box-shadow: 3px 3px 6px 6px rgba(1, 1, 1, 0.060); 
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 50px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 4vh 9vh 4vh 9vh 4vh 10vh 4vh;
    grid-template-areas: 
    "div"
    "div"
    "div"
    "div"
    "div"
    "div"
    "div";
}
.form div:nth-child(7){
    display: flex;
    justify-content: center;
}

input{
width: 45vh;
height: 6vh;
border: #0000001e solid 1.5px;
border-radius: 8px;
padding-left: 0.5rem;
background-color: white;
}

input#codigo{
    width: 20vh;
}
select#produto{
    border: #0000001e solid 1.5px;
    border-radius: 8px;
}

button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 46px;
    width: 50vh;
    border-style: solid var(--background-color-);
    border-radius: 12px;
    border-width: var(--border-width-buttons);
    font-size: var(--font-size-buttons);
    font-weight: bold;
    background-color: var(--background-color-);
    color: white;
}
button:hover{
    cursor: pointer;
    scale: 1.01;
}
label{
    font-weight: bold;
}
h1{
    font-size: 5vh;
}
h2{
    padding-left: 40px;
    font-size: 4vh;
}
hr{
    width: 140vh;
    border-color: #d6d6d674;
    
}
.material-icons:hover{
    cursor: pointer;
}
